<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="../svg/world.svg" type="image/gif" sizes="16x16" />
        <title>Destinos de América del Sur</title>

        <meta name="keywords" content="Viaje, Turismo, América, Argentina, Perú, Brasil" />
        <meta name="description" content="Voorpret, sección de países de América del Sur." />

        <!--Google Fonts-->
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Jost:wght@600&family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Righteous&display=swap" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Jost:wght@700&display=swap" rel="stylesheet" />

        <!--Bootstrap-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous" />

        <!--Archivo CSS-->
        <link rel="stylesheet" href="../assets/css/style.css" />

        <!--FONTAWESOME iconos-->
        <script src="https://kit.fontawesome.com/4926abe3be.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <div class="div__header">
            <header id="header">
                <!--Este es el encabezado de mi página-->

                <nav class="header__nav navbar navbar-expand-lg navbar-light .myNav">
                    <div class="container-fluid">
                        <a href="../index.html"><img src="../img/logovoorpretsombreado.png" width="100px" alt="Logo de Voorpret" /></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav fontJost mayusculaTotal">
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" href="../index.html">Inicio</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="./destinos.html">Destinos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="./galeria.html">Galeria</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="./noticias.html">Noticias</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="./contacto.html">Contacto</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>

            <section class="banner">
                <img class="banner__videoImagen" src="../img/portadaamericasur.png" alt="Banner con imagen de América del Sur" />
                <h1 class="banner__titulo fontJost muyNegrita mayusculaTotal centrado">América del Sur</h1>
            </section>
        </div>

        <!--SECCIÓN DE ICONOS AMÉRICA DEL SUR-->
        <a name="paises"></a>
        <section class="continente__section">
            <div class="row justify-content-center">
                <h1 class="continente__titulo fontJost muyNegrita mayusculaTotal centrado">América Del Sur</h1>
            </div>

            <div class="continente__paisesicon row service__content justify-content-center mt-lg-4">
                <div class="col-9 col-md-7 col-lg-3">
                    <a href="#argentina"><img class="paises__icon" src="../svg/argentina.svg" alt="Icon representativo de Argentina" /></a>
                    <span class="row justify-content-center">
                        <span class="col-12">
                            <a href="#argentina" class="btn fontJost btn btn-secondary btn-sm">ARGENTINA</a>
                        </span>
                    </span>
                </div>

                <div class="col-9 col-md-7 col-lg-3">
                    <a href="#brasil"><img class="paises__icon" src="../svg/brasil.svg" alt="Icon representativo de Brasil" /></a>
                    <span class="row justify-content-center">
                        <span class="col-12">
                            <a href="#brasil" class="btn fontJost btn btn-secondary btn-sm">BRASIL</a>
                        </span>
                    </span>
                </div>

                <div class="col-9 col-md-7 col-lg-3">
                    <a href="#peru"><img class="paises__icon" src="../svg/peru.svg" alt="Icon representativo de Perú" /></a>
                    <span class="row justify-content-center">
                        <span class="col-12">
                            <a href="#peru" class="btn fontJost btn btn-secondary btn-sm">PERÚ</a>
                        </span>
                    </span>
                </div>
            </div>
        </section>

        <!--COMIENZA SECCIÓN DE CADA PAÍS-->

        <!--ARGENTINA-->
        <a name="argentina"></a>
        <section class="continente__paises color__fondoi">
            <h2 class="continente__paistitulo fontRighteous centrado">¡Bienvenidos a Argentina!</h2>

            <div class="container-fluid">
                <div class="row justify-content-center align-items-center">
                    <div class="col-12 col-lg-6">
                        <div class="continente__iframe ratio ratio-16x9">
                            <iframe
                                src="https://www.youtube.com/embed/KmNNS-EsgT0"
                                title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen
                            ></iframe>
                        </div>
                    </div>

                    <div class="col-12 col-lg-5">
                        <h2 class="continente__infoTitulo izquierda fontRighteous">El país con todos los climas</h2>
                        <p class="continente__info justificada fontMonserrat">
                            Argentina, con su naturaleza espectacular, ciudades cosmopolitas y mezcla de distintas influencias culturales, es uno de nuestros destinos favoritos. Se extiende a lo largo de unos 4000 kilómetros, desde su norte
                            subtropical hasta Tierra del Fuego, abarcando en su territorio una amplia variedad de climas y ecosistemas. Argentina posee un don innato, el de satisfacer todo tipo de anhelo de sus visitantes, sea cual sea el
                            objetivo de su viaje y sus expectativas de vacaciones en Argentina. Una tierra mágica tanto para sus habitantes como para los miles de turistas que a diario la visitan. Es un destino fijo para los visitantes de
                            otros países latinoamericanos y europeos que se quedan deslumbrado con sus hermosos paisajes, ciudades, tradiciones y cultura.
                        </p>

                        <p class="continente__verMas fontMonserrat">Para más información, haga click en la bandera.</p>
                    </div>

                    <div class="continente__paisButton">
                        <a target="_blank" href="https://www.argentina.tur.ar/#!/ar/home" class="fontJost"><img src="../img/icon-argentina.png" alt="Bandera de Argentina" height="60" /></a>
                    </div>
                </div>
            </div>
        </section>

        <!--BRASIL-->
        <a name="brasil"></a>
        <section class="continente__paises color__fondoii">
            <h2 class="continente__paistitulo fontRighteous centrado">¡Bienvidos a Brasil!</h2>

            <div class="container-fluid">
                <div class="row justify-content-center align-items-center">
                    <div class="col-12 col-lg-6">
                        <div class="continente__iframe ratio ratio-16x9">
                            <iframe
                                src="https://www.youtube.com/embed/q7zdJ-nMrlE"
                                title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen
                            ></iframe>
                        </div>
                    </div>

                    <div class="col-12 col-lg-5">
                        <h2 class="continente__infoTitulo izquierda fontRighteous">El país con el mayor pulmón verde del mundo</h2>
                        <p class="continente__info justificada fontMonserrat">
                            Dentro de América del Sur, el país que recibe el mayor contingente de turistas es Brasil, y a partir de 1995, el Gobierno Federal dedica su interés a fomentar los viajes a Brasil como forma de promoción para la
                            conservación del patrimonio nacional, tanto natural como cultural. Las razones para elegir unas vacaciones en Brasil son innumerables, la belleza natural, salvaje y desmesurada, que se contrapone con sus ciudades
                            cosmopolitas y dinámicas. No menos cautivante, resulta su cultura heterogénea, producto del cruce de etnias. A todo esto, podemos sumar el atractivo indudable que ejerce su maravilloso carnaval.
                        </p>

                        <p class="continente__verMas fontMonserrat">Para más información, haga click en la bandera.</p>
                    </div>

                    <div class="continente__paisButton">
                        <a target="_blank" href="https://www.visitbrasil.com/es/" class="fontJost"><img src="../img/icon-brasil.png" alt="Bandera de Brasil" height="60" /></a>
                    </div>
                </div>
            </div>
        </section>

        <!--PERÚ-->
        <a name="PERÚ"></a>
        <section class="continente__paises color__fondoiii">
            <h2 class="continente__paistitulo fontRighteous centrado">¡Bienvidos a Perú!</h2>

            <div class="container-fluid">
                <div class="row justify-content-center align-items-center">
                    <div class="col-12 col-lg-6">
                        <div class="continente__iframe ratio ratio-16x9">
                            <iframe
                                src="https://www.youtube.com/embed/Nye_O4PEh7k"
                                title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen
                            ></iframe>
                        </div>
                    </div>

                    <div class="col-12 col-lg-5">
                        <h2 class="continente__infoTitulo izquierda fontRighteous">El país con la segunda mayor diversidad de aves</h2>
                        <p class="continente__info justificada fontMonserrat">
                            El Perú es un país ampliamente rico en diversos aspectos, tanto cultural, social, gastronómico y artístico; gracias a sus tres regiones geográficas se puede encontrar una completa variedad de alimentos, culturas,
                            tradiciones, climas y actividades para realizar, así como un inigualable número de lugares para visitar. Perú es uno de los principales destinos turísticos en Sudamérica. Cuenta con una variada belleza natural
                            según las diferentes zonas de su territorio, notables maravillas arqueológicas, como Machu Picchu, delicias gastronómicas, y un vasto patrimonio cultural, existe también gran variedad de actividades y lugares
                            para ver y hacer en Perú.
                        </p>

                        <p class="continente__verMas fontMonserrat">Para más información, haga click en la bandera.</p>
                    </div>

                    <div class="continente__paisButton">
                        <a target="_blank" href="https://www.peru.travel/" class="fontJost"><img src="../img/icon-peru.png" alt="Bandera de Perú" height="60" /></a>
                    </div>
                </div>
            </div>
        </section>

        <!--Button up-->
        <div>
            <a href="#paises" class="button__up"> <i class="fas fa-chevron-circle-up fa-2x"></i> </a>
        </div>

        <!--INICIO DEL FOOTER-->
        <footer class="bg-white">
            <div class="footer__banner">
                <div class="container py-5">
                    <div class="row py-4">
                        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                            <img src="../img/logovoorpretnombre.png" alt="Logo de Voorpret" width="230" class="mb-3" />
                            <h6 class="text-uppercase font-weight-bold mb-4 fontJost">Newsletter</h6>
                            <div class="p-1 rounded border">
                                <div class="input-group">
                                    <input type="email" placeholder="Enter your email address" aria-describedby="button-addon1" class="form-control border-0 shadow-0" />
                                    <div class="input-group-append">
                                        <button id="button-addon1" type="submit" class="btn"><i class="fa fa-paper-plane"></i></button>
                                    </div>
                                </div>
                            </div>
                            <ul class="footer__social list-inline mt-4">
                                <li class="list-inline-item">
                                    <a href="https://twitter.com" target="_blank" title="twitter"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://fb.com" target="_blank" title="facebook"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://instagram.com" target="_blank" title="instagram"><i class="fa fa-instagram"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://https://www.pinterest.com/" target="_blank" title="pinterest"><i class="fa fa-pinterest"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 offset-md-1">
                            <h6 class="text-uppercase font-weight-bold mb-4 fontJost">Destinos</h6>
                            <ul class="footer__destinos list-unstyled mb-0">
                                <li class="mb-2">
                                    <a href="./destinosamericanorte.html" class="fontRighteous"><i class="fas fa-globe-americas"></i> América Norte y Central</a>
                                </li>
                                <li class="mb-2">
                                    <a href="./destinosamericasur.html" class="fontRighteous"><i class="fas fa-globe-americas"></i> América Sur</a>
                                </li>
                                <li class="mb-2">
                                    <a href="./destinoseuropa.html" class="fontRighteous"><i class="fas fa-globe-europe"></i> Europa</a>
                                </li>
                                <li class="mb-2">
                                    <a href="./destinosasia.html" class="fontRighteous"><i class="fas fa-globe-asia"></i> Asia</a>
                                </li>
                                <li class="mb-2">
                                    <a href="./destinosoceania.html" class="fontRighteous"><i class="fas fa-globe-asia"></i> Oceanía</a>
                                </li>
                                <li class="mb-2">
                                    <a href="./destinosafrica.html" class="fontRighteous"><i class="fas fa-globe-africa"></i> África</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 offset-md-1">
                            <h6 class="text-uppercase font-weight-bold mb-4 fontJost">Contacto</h6>
                            <ul class="footer__contacto list-unstyled mb-0 fontRighteous">
                                <li class="mb-2"><i class="fas fa-envelope-open-text fa-lg"></i> voorpret@gmail.com</li>
                                <li class="mb-2"><i class="fas fa-comments fa-lg"></i> +5491168794571</li>
                                <li class="mb-2"><i class="fas fa-map-marked-alt fa-lg"></i> Buenos Aires, Argentina</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Copyrights -->
                <div>
                    <div class="footer__copy container text-center">
                        <p class="mb-0 py-2 fontJost mayusculaTotal">All rights reserved by ©VOORPRET 2021</p>
                    </div>
                </div>
            </div>
        </footer>

        <!--BARRA DE NAVEGACIÓN-->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script>
            $(document).ready(function () {
                console.log("ready");
                let scrollVar = 183;
                $(window).scroll(function () {
                    let x = $(this).scrollTop();
                    if (x > scrollVar) {
                        $("#header").addClass("header-scrolled");
                    } else if (x < scrollVar) {
                        $("#header").removeClass("header-scrolled");
                    }
                });
            });
        </script>
        <!--Bootstrap con JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    </body>
</html>
