<!DOCTYPE html>
<html lang="es">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../svg/world.svg" type="image/gif" sizes="16x16">
        <title>Sección de destinos: África</title>

        <!--Google Fonts-->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Jost:wght@600&family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Righteous&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Jost:wght@700&display=swap" rel="stylesheet">

        <!--Bootstrap-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

        <!--Archivo CSS-->
        <link rel="stylesheet" href="../assets/css/style.css">

        <!--FONTAWESOME iconos-->
        <script src="https://kit.fontawesome.com/4926abe3be.js" crossorigin="anonymous"></script>

</head>

<body>

  <header id="header"> <!--Este es el encabezado de mi página-->

    <nav class="header__nav navbar navbar-expand-lg navbar-light .myNav ">
        <div class="container-fluid">
          <a href="../index.html"><img src="../img/logovoorpretsombreado.png" width="100px" alt="Logo VOORPRET"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav fontJost mayusculaTotal">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="../index.html">Inicio</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="./destinos.html">Destinos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./galeria.html">Galeria</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./noticias.html">Noticias</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./contacto.html">Contacto</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</header>

<section class="banner">
<img class="banner__foto" src="../img/portadaafrica.png" alt="">
</section>

<!--SECCIÓN DE ICONOS ÁFRICA
Al hacer click el button debería redirigir dentro de la página al país-->
<section class="continente__section">

  <div class="row justify-content-center">
    <h1 class="continente__titulo fontJost muyNegrita mayusculaTotal centrado">Continente Africano</h1>
  </div>

  <div class="continente__paisesicon row service__content justify-content-center mt-lg-4">
    <div class="col-9 col-md-7 col-lg-3">
      <img class="paises__icon" src="../svg/egipto.svg" width="200" height="200" alt="Icon representativo de Egipto">
      <span class="row justify-content-center">
        <span class="col-12">
          <a href="#egipto" class="btn fontJost btn btn-secondary btn-sm">EGIPTO</a>
        </span>
      </span>
    </div>

    <div class="col-9 col-md-7 col-lg-3">
      <img class="paises__icon" src="../svg/sudafrica.svg" width="200" height="200" alt="Icon representativo de Sudáfrica">
      <span class="row justify-content-center">
        <span class="col-12">
          <a href="#sudafrica" class="btn fontJost btn btn-secondary btn-sm">SUDÁFRICA</a>
        </span>
      </span>
    </div>

    <div class="col-9 col-md-7 col-lg-3">
      <img class="paises__icon" src="../svg/marruecos.svg" width="200" height="200" alt="Icon representativo de Marruecos">
      <span class="row justify-content-center">
        <span class="col-12">
          <a href="#marruecos" class="btn fontJost btn btn-secondary btn-sm">MARRUECOS</a>
        </span>
      </span>
    </div>

  </div>

</section>

<!--COMIENZA SECCIÓN DE CADA PAÍS-->

<!--EGIPTO-->

<a name="egipto"></a>
<section class="continente__paises color__fondoi"> 

  <h2 class="continente__paistitulo fontRighteous centrado">¡Bienvenidos a Egipto!</h2>

  <div class="container-fluid">
    <div class="row justify-content-center align-items-center">

        <div class="col-12 col-lg-6">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/rsv4drcgHys" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="col-12 col-lg-5">
            <h2 class="izquierda fontRighteous">El país de los faraones</h2>
                <p class="justificada fontMonserrat">Con más de cinco mil años, la historia de Egipto es la más larga y documentada del mundo. 

                Los primeros habitantes de Egipto se establecieron en las riberas del Nilo huyendo del desierto. Estos primeros indígenas, aislados y sin enemigos cercanos, eran gobernados por seres "divinos" a los que siguieron dinastías semi heróicas: "los descendientes de Horus".

                Estos habitantes se fueron organizando en provincias (llamadas Nomos) y con su unificación surgieron dos reinos: el Alto y el Bajo Egipto.. </p>
        </div>
        
    </div>
</div>
</section>

<!--SUDÁFRICA-->

<a name="sudafrica"></a>
<section class="continente__paises color__fondoii"> 

  <h2 class="africa__paistitulo fontRighteous centrado">¡Bienvidos a Sudáfrica!</h2>

  <div class="container-fluid">
    <div class="row justify-content-center align-items-center">

        <div class="col-12 col-lg-6">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/zNx5F8htBvo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="col-12 col-lg-5">
            <h2 class="izquierda fontRighteous">El sitio arqueológico más rico en huesos humanos</h2>
                <p class="justificada fontMonserrat"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quos earum in mollitia vero omnis quia! Deserunt aut perspiciatis illum quia neque nemo vel ullam, quidem corrupti ratione eaque quo veniam asperiores nulla, veritatis excepturi a nisi suscipit ipsum odit modi! Rem beatae blanditiis eligendi facilis totam et nemo nobis maxime, qui eos commodi facere nulla quod autem fugiat illum veritatis nesciunt laudantium eius? Nulla, vitae? Sint quisquam aspernatur doloribus ipsam aperiam consectetur fugit! Accusamus facilis nihil ad nesciunt facere dolores fugiat provident dolorem, quia expedita veritatis numquam, harum aliquid vitae illum saepe natus iusto dolore quasi repudiandae molestias repellendus!. </p>
        </div>
        
    </div>
</div>
</section>

  <!--MARRUECOS-->

<a name="marruecos"></a>
<section class="continente__paises color__fondoiii"> 

  <h2 class="africa__paistitulo fontRighteous centrado">¡Bienvidos a Marruecos!</h2>

  <div class="container-fluid">
    <div class="row justify-content-center align-items-center">

        <div class="col-12 col-lg-6">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/C0oh-o1pY7A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="col-12 col-lg-5">
            <h2 class="izquierda fontRighteous">El país donde experimentar un vuelo en globo</h2>
                <p class="justificada fontMonserrat"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quos earum in mollitia vero omnis quia! Deserunt aut perspiciatis illum quia neque nemo vel ullam, quidem corrupti ratione eaque quo veniam asperiores nulla, veritatis excepturi a nisi suscipit ipsum odit modi! Rem beatae blanditiis eligendi facilis totam et nemo nobis maxime, qui eos commodi facere nulla quod autem fugiat illum veritatis nesciunt laudantium eius? Nulla, vitae? Sint quisquam aspernatur doloribus ipsam aperiam consectetur fugit! Accusamus facilis nihil ad nesciunt facere dolores fugiat provident dolorem, quia expedita veritatis numquam, harum aliquid vitae illum saepe natus iusto dolore quasi repudiandae molestias repellendus!. </p>
        </div>
        
    </div>
</div>
</section>

<!--INICIO DEL FOOTER-->

<footer class=" tamanoFooter">

  <div class="footer__banner">

      <img class="footer__logo" src="../img/logovoorpretnombre.png" alt="LOGO" height="70px" class="logoVoorpret">

      <div class="footer__info"> 

          <div class="footer__box contacto">
              <p class="fontJost">CONTACTO</p>
                      <ul class="fontJost">
                          <li> <i class="fas fa-envelope-open-text fa-lg"></i> voorpret@gmail.com </li>
                          <li> <i class="fas fa-comments fa-lg"></i> +5491168794571</li>
                          <li> <i class="fas fa-map-marked-alt fa-lg"></i> Buenos Aires, Argentina </li>
                      </ul>
          </div>

      <div class="footer__box seguinos"> 

          <p class="fontJost"> SEGUINOS </p>

          <a target="_blank" href="https://fb.com"><img src="../img/logofb.png" alt="" height="30px"></a>
          <a target="_blank" href="https://instagram.com"><img src="../img/logoinstagram.png" alt="" height="30px"></a>
          <a target="_blank" href="https://twitter.com"><img src="../img/logotwitter.png" alt="" height="30px"></a>
      </div>

      <div class="footer__box destinos">
          <p class="fontJost">DESTINOS</p>
                  <ul class=" fontJost">
                      <li class="amenor"> <a href="../views/"> América 
                      Norte y Central</a></li>
                      <li class="amesur"> <a href="../views/destinosamericasur.html"> América del Sur</a></li>
                      <li class="euro"> <a href="../views/destinoseuropa.html"> Europa</a></li>
                      <li class="asia"> <a href="../views/destinosasia.html">Asia</a></li>
                      <li class="ocea"> <a href="../views/destinosoceania.html">Oceanía</a></li>
                      <li class="afri"> <a href="../views/destinosoceania.html">África</a></li>
                  </ul>
          </div>

      </div>

      <div class="footer_copyright"> <p class="centrado fontMonserrat negrita">All rights reserved by &copy;Voorpret 2021</p> </div>
      
  </div>

</footer>

    <!--Bootstrap con JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>

</body>


</html>