<!DOCTYPE html>
<html lang="es">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../svg/world.svg" type="image/gif" sizes="16x16">
        <title>Sección galería de fotos de la página</title>
        
        <meta name="keywords" content="Turismo, Destinos, Landscape, Fotos, Galería">
        <meta name="description" content="Voorpret, galería de fotos que incluye destinos, comidas y eventos del mundo.">

        <!--Google Fonts-->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Jost:wght@600&family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Righteous&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Jost:wght@700&display=swap" rel="stylesheet">

        <!--Bootstrap-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

        <!--Archivo CSS-->
        <link rel="stylesheet" href="../assets/css/style.css">

        <!--FONTAWESOME iconos-->
        <script src="https://kit.fontawesome.com/4926abe3be.js" crossorigin="anonymous"></script>
</head>



<body> 
  <div class="div__header">
    <header id="header"> <!--Este es el encabezado de mi página-->

        <nav class="header__nav navbar navbar-expand-lg navbar-light .myNav ">
            <div class="container-fluid">
              <a href="./index.html"><img src="../img/logovoorpretsombreado.png" width="100px" alt=""></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav fontJost mayusculaTotal">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="../index.html">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./destinos.html">Destinos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="./galeria.html">Galeria</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./noticias.html">Noticias</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./contacto.html">Contacto</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>
    
    <section class="banner">
      <video class="banner__video" src="../img/voorpretvideo.mp4" autoplay muted loop></video>
      <h1 class="banner__titulo">Galeria</h1>
    </section>
    </div>

<!--GALERÍA DE FOTOS-->

    <section class="section__galeria py-5">

        <h1 class="tituloGaleria fontJost muyNegrita mayusculaTotal centrado">Galería</h1>

        <div class="container"><p class="centrado galeria__descripcion">Un destino no sólo cuenta con bellezas a nivel natural y arquitectónico, sino que además, la cultura, aquello que se nos brinda al llegar al destino, puede expresarse de tantas formas dignas de recordad en una fotografía. ¡No dejes de ver las bellezas que oculta el mundo!</p>

            <div class="accordion accordion-flush" id="accordionFlushExample">

                <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed fontJost mayusculaTotal" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Paisajes del mundo
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div class="galeriaDestinos">

                            <div class="flexPadre htmlGaleria">
                                <div class="flexHijo">
                                    <img class="img-fluid" src="../img/galeria1.jpg" alt="Costas de Capri, Italia">
                                    <img class="img-fluid" src="../img/galeria2.jpg" alt="Mar de la costa Almafitana, Italia">
                                    <img class="img-fluid" src="../img/galeria3.jpg" alt="Parque nacional de los Arcos, USA">
                                    <img class="img-fluid" src="../img/galeria4.jpeg" alt="Parque Nacional Banff, Canadá">
                                </div>
                    
                                <div class="flexHijo">
                                    <img src="../img/galeria6.jpeg" alt="Auroras boreales">
                                    <img src="../img/galeria7.jpeg" alt="Camino de árboles otoñales">
                                    <img src="../img/galeria8.jpeg" alt="La Gran Reserva de la Biosfera de Nicobar">
                                    <img src="../img/galeria9.jpg" alt="Los Jardines de Augusto, isla de Capri">
                                    <img src="../img/galeria10.jpg" alt="El Valle de los Cirios, México">
                                </div>

                                <div class="flexHijo">
                                    <img src="../img/galeria11.jpeg" alt="Montañas nocturnas en Noruega">
                                    <img src="../img/galeria12.jpg" alt="Parque nacional da Chapada dos Veadeiros, Brasil">
                                    <img src="../img/galeria13.jpeg" alt="Bosque invernal">
                                    <img src="../img/galeria14.jpeg" alt="Peitlerkofel, montaña de los Dolomitas en el Tirol del Sur, Italia">
                                    <img src="../img/galeria15.jpeg" alt="Valle de los Monumentos, USA">
                                </div>

                                <div class="flexHijo">
                                    <img src="../img/galeria16.jpeg" alt="Bosque">
                                    <img src="../img/galeria17.jpeg" alt="La Rosière, estación de esquí en el sureste de Francia">
                                    <img src="../img/galeria18.jpeg" alt="Vista aérea de zona agricultora">
                                    <img src="../img/galeria19.jpeg" alt="Volcán">
                                    <img src="../img/galeria20.jpeg" alt="Distrito financiero de Melbourne, Australia">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

                <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed fontJost mayusculaTotal" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Comidas regionales
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">

                        <div class="galeriaDestinos">

                          <div class="flexPadre htmlGaleria">
                              <div class="flexHijo">
                                  <img class="img-fluid" src="../img/aa-galeria.jpg" alt="Costas de Capri, Italia">
                                  <img class="img-fluid" src="../img/ab-galeria.jpg" alt="Mar de la costa Almafitana, Italia">
                                  <img class="img-fluid" src="../img/ac-galeria.jpg" alt="Parque nacional de los Arcos, USA">
                                  <img class="img-fluid" src="../img/ad-galeria.jpeg" alt="Parque Nacional Banff, Canadá">
                              </div>
                  
                              <div class="flexHijo">
                                  <img src="../img/ae-galeria.jpeg" alt="Auroras boreales">
                                  <img src="../img/af-galeria.jpeg" alt="Camino de árboles otoñales">
                                  <img src="../img/ag-galeria.jpeg" alt="La Gran Reserva de la Biosfera de Nicobar">
                                  <img src="../img/ah-galeria.jpeg" alt="Los Jardines de Augusto, isla de Capri">
                                  <img src="../img/ai-galeria.jpg" alt="El Valle de los Cirios, México">
                              </div>

                              <div class="flexHijo">
                                  <img src="../img/aj-galeria.jpg" alt="Montañas nocturnas en Noruega">
                                  <img src="../img/ak-galeria.jpeg" alt="Parque nacional da Chapada dos Veadeiros, Brasil">
                                  <img src="../img/al-galeria.jpg" alt="Bosque invernal">
                                  <img src="../img/am-galeria.jpeg" alt="Peitlerkofel, montaña de los Dolomitas en el Tirol del Sur, Italia">
                                  <img src="../img/an-galeria.jpeg" alt="Valle de los Monumentos, USA">
                              </div>

                              <div class="flexHijo">
                                  <img src="../img/ao-galeria.jpeg" alt="Bosque">
                                  <img src="../img/ap-galeria.jpeg" alt="La Rosière, estación de esquí en el sureste de Francia">
                                  <img src="../img/aq-galeria.jpeg" alt="Vista aérea de zona agricultora">
                                  <img src="../img/ar-galeria.jpeg" alt="Volcán">
                                  <img src="../img/as-galeria.jpeg" alt="Distrito financiero de Melbourne, Australia">
                              </div>
                          </div>
                        </div>
                    </div>
                </div>
                </div>

                <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed fontJost mayusculaTotal" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    Eventos tradicionales
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.
                    </div>
                </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFour">
                        <button class="accordion-button collapsed fontJost mayusculaTotal" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                        videos de viajeros
                        </button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                    </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFive">
                            <button class="accordion-button collapsed fontJost mayusculaTotal" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                            otro contenido
                            </button>
                        </h2>
                        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                        </div>
                        </div>

            </div>

    </section>

<!--INICIO DEL FOOTER-->
<footer class="bg-white">
    <div class="footer__banner">
      <div class="container py-5">
        <div class="row py-4">
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0"><img src="./img/logovoorpretnombre.png" alt="" width="230" class="mb-3">
            <h6 class="text-uppercase font-weight-bold mb-4 fontJost">Newsletter</h6>
            <div class="p-1 rounded border">
              <div class="input-group">
                <input type="email" placeholder="Enter your email address" aria-describedby="button-addon1" class="form-control border-0 shadow-0">
                <div class="input-group-append">
                  <button id="button-addon1" type="submit" class="btn"><i class="fa fa-paper-plane"></i></button>
                </div>
              </div>
            </div>
            <ul class="footer__social list-inline mt-4">
              <li class="list-inline-item"><a href="https://twitter.com" target="_blank" title="twitter"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="https://fb.com" target="_blank" title="facebook"><i class="fa fa-facebook"></i></a></li>
              <li class="list-inline-item"><a href="https://instagram.com" target="_blank" title="instagram"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="https://https://www.pinterest.com/" target="_blank" title="pinterest"><i class="fa fa-pinterest"></i></a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 offset-md-1">
            <h6 class="text-uppercase font-weight-bold mb-4 fontJost">Destinos</h6>
            <ul class="footer__destinos list-unstyled mb-0">
              <li class="mb-2"><a href="./destinosamericanorte.html" class="fontRighteous"><i class="fas fa-globe-americas"></i>  América Norte y Central</a></li>
              <li class="mb-2"><a href="./destinosamericasur.html" class="fontRighteous"><i class="fas fa-globe-americas"></i>  América Sur</a></li>
              <li class="mb-2"><a href="./destinoseuropa.html" class="fontRighteous"><i class="fas fa-globe-europe"></i>  Europa</a></li>
              <li class="mb-2"><a href="./destinosasia.html" class="fontRighteous"><i class="fas fa-globe-asia"></i>  Asia</a></li>
              <li class="mb-2"><a href="./destinosoceania.html" class="fontRighteous"><i class="fas fa-globe-asia"></i>  Oceanía</a></li>
              <li class="mb-2"><a href="./destinosafrica.html" class="fontRighteous"><i class="fas fa-globe-africa"></i>  África</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 offset-md-1">
            <h6 class="text-uppercase font-weight-bold mb-4 fontJost">Contacto</h6>
            <ul class="footer__contacto list-unstyled mb-0 fontRighteous">
              <li class="mb-2"> <i class="fas fa-envelope-open-text fa-lg"></i> voorpret@gmail.com </li>
              <li class="mb-2"> <i class="fas fa-comments fa-lg"></i> +5491168794571</li>
              <li class="mb-2"> <i class="fas fa-map-marked-alt fa-lg"></i> Buenos Aires, Argentina </li>
            </ul>
          </div>
  
        </div>
      </div>
  
      <!-- Copyrights -->
      <div>
        <div class="footer__copy container text-center">
          <p class="mb-0 py-2 fontJost mayusculaTotal">All rights reserved by ©VOORPRET 2021</p>
        </div>
      </div>
    </div>
  </footer>

    <!--Bootstrap con JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>

</body>


</html>