<!DOCTYPE html>
<html lang="es">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../svg/world.svg" type="image/gif" sizes="16x16">
        <title>Sección de noticias del mundo de turismo</title>

        <meta name="keywords" content="Viajes, Turismo, Países, Destinos, Noticias">
        <meta name="description" content="Voorpret, sección de noticias sobre el mundo y su actualidad respecto a viajes y turismo.">

        <!--Google Fonts-->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Jost:wght@600&family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Righteous&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Jost:wght@700&display=swap" rel="stylesheet">

        <!--Bootstrap-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

        <!--Archivo CSS-->
        <link rel="stylesheet" href="../assets/css/style.css">

        <!--FONTAWESOME iconos-->
        <script src="https://kit.fontawesome.com/4926abe3be.js" crossorigin="anonymous"></script>
</head>



<body>

  <header id="header"> <!--Este es el encabezado de mi página-->

    <nav class="header__nav navbar navbar-expand-lg navbar-light .myNav ">
        <div class="container-fluid">
          <a href="./index.html"><img src="../img/logovoorpretsombreado.png" width="100px" alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav fontJost mayusculaTotal">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="../index.html">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./destinos.html">Destinos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./galeria.html">Galeria</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="./noticias.html">Noticias</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./contacto.html">Contacto</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</header>

<section class="banner">

  <video class="banner__video" src="../img/voorpretvideo.mp4" autoplay muted loop></video>
      
</section>

<!--NOTICIAS SECCIÓN I-->

    <section class="noticias__section py-4">

        <div><h1 class="noticias__titulo fontJost muyNegrita mayusculaTotal centrado">Noticias del mundo</h1></div>

        <div class="row row-cols-1 row-cols-md-3 g-4 container-fluid">
            <div class="col">
              <div class="card text-center h-100">
                <img src="https://media.viajando.travel/p/e010a68eb7563bc1f974794130cdb42e/adjuntos/271/imagenes/000/364/0000364734/orit-farkash-hacohen-ministra-turismo-israel.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="noticias__notaTitulo fontRighteous negrita card-title"> Israel toma la delantera y se abrirá al turismo</h5>
                  <p class="card-text"> Así como tomó la delantera con la vacunación masiva, Israel habla ahora de retomar la actividad turística.</p>
                </div>
                <div class="card-footer">
                    <a target="_blank" href="https://argentina.ladevi.info/israel/israel-toma-la-delantera-y-se-abrira-al-turismo-n30373" class="btn btn-primary">Leer más</a>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card text-center h-100">
                <img src="https://media.viajando.travel/p/60a26df15b8aa990cdc9a5ee8beceea2/adjuntos/277/imagenes/000/365/0000365904/cusco-propone-vacunar-toda-la-poblacion-cusquena-la-reactivacion-turistica.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="noticias__notaTitulo fontRighteous negrita card-title"> Cusco propone recibir turistas vacunados</h5>
                  <p class="card-text"> Jean Paul Benavente, gobernador de Cusco, propone recibir a turistas vacunados y que dicha iniciativa debe formar parte de una estrategia de reactivación.</p>
                </div>
                <div class="card-footer">
                    <a target="_blank" href="https://argentina.ladevi.info/cusco/cusco-propone-recibir-turistas-vacunados-n30411" class="btn btn-primary">Leer más</a>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card text-center h-100">
                <img src="https://media.viajando.travel/p/72a1f383e2ec33db055f881cd6602bc5/adjuntos/274/imagenes/000/368/0000368223/italia-dispuesta-abrir-fronteras.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="noticias__notaTitulo fontRighteous negrita card-title"> Italia reabrirá fronteras en mayo</h5>
                  <p class="card-text"> Italia se esta preparando para recibir turistas nuevamente a mediados de mayo. Conozca los requisitos de ingreso a este país.</p>
                </div>
                <div class="card-footer">
                    <a target="_blank" href="https://argentina.ladevi.info/italia/italia-reabrira-fronteras-mayo-n30560" class="btn btn-primary">Leer más</a>
                </div>
              </div>
            </div>
          </div>
    </section>


<!--INICIO DEL FOOTER-->

<footer class=" tamanoFooter">

  <div class="footer__banner">

      <img class="footer__logo" src="../img/logovoorpretnombre.png" alt="LOGO" height="70px" class="logoVoorpret">

      <div class="footer__info"> 

          <div class="footer__box contacto">
              <p class="fontJost">CONTACTO</p>
                      <ul class="fontJost">
                          <li> <i class="fas fa-envelope-open-text fa-lg"></i> voorpret@gmail.com </li>
                          <li> <i class="fas fa-comments fa-lg"></i> +5491168794571</li>
                          <li> <i class="fas fa-map-marked-alt fa-lg"></i> Buenos Aires, Argentina </li>
                      </ul>
          </div>

      <div class="footer__box seguinos"> 

          <p class="fontJost"> SEGUINOS </p>

          <a target="_blank" href="https://fb.com"><img src="../img/logofb.png" alt="" height="30px"></a>
          <a target="_blank" href="https://instagram.com"><img src="../img/logoinstagram.png" alt="" height="30px"></a>
          <a target="_blank" href="https://twitter.com"><img src="../img/logotwitter.png" alt="" height="30px"></a>
      </div>

      <div class="footer__box destinos">
          <p class="fontJost">DESTINOS</p>
                  <ul class=" fontJost">
                      <li class="amenor"> <a href=".destinosamericanorte.html"> América 
                      Norte y Central</a></li>
                      <li class="amesur"> <a href="./destinosamericasur.html"> América del Sur</a></li>
                      <li class="euro"> <a href="./destinoseuropa.html"> Europa</a></li>
                      <li class="asia"> <a href="./destinosasia.html">Asia</a></li>
                      <li class="ocea"> <a href="./destinosoceania.html">Oceanía</a></li>
                      <li class="afri"> <a href="./destinosoceania.html">África</a></li>
                  </ul>
          </div>

      </div>

      <div class="footer_copyright"> <p class="centrado fontMonserrat negrita">All rights reserved by &copy;Voorpret 2021</p> </div>
      
  </div>

</footer>

    <!--Bootstrap con JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>

</body>


</html>