/*HTML CONTACTO*/

.contactanos__section {

    .contactanos__titulo {
        margin: 2rem;
    }
    .contactanos__parrafo {
        height: auto;
        width: 100%;
        text-align: justify;
    }

    .contact__gif {
        width: 100%;
    }

}