/*HTML CONTINENTES*/

.continente__section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .continente__titulo {
        font-size: 3rem;
    }

    .continente__paisesicon {
        .paises__icon {
            max-width: 100%;
            max-height: 300px;
            padding: 20px;
            padding-bottom: 20px;
            width: 60%;
        }
    }
}

.continente__paises {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .continente__paistitulo {
        padding-top: 25px;
        padding-bottom: 20px;
    }

    .continente__verMas {
        color: grey;
        font-size: small;
    }

    .continente__paisButton {
        padding-top: 20px;
    }
}

.button__up {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    text-decoration: none;
    color: rgb(20, 20, 20);

    &:hover {
        color: rgb(0, 121, 143);
        transition: all .5s;
    }
    }



$mapa: (
    fondoi: rgb(248, 248, 248),
    fondoii: rgb(255, 255, 255),

);

@each $fondo, $color in $mapa {
    .color__#{$fondo}{
        background-color: $color;
    }
}

