/*ESTILOS DE TEXTO*/

.normal {
    font-style: normal;
}

.negrita {
    font-weight: bold;
}

.muyNegrita {
    font-weight:bolder;
}

.cursiva {
    font-style: italic;
}

.mayusculaTotal {
    text-transform: uppercase;
}

.justificada {
    text-align: justify;
}

.izquierda {
    text-align: right;
}

.centrado{
    text-align: center;
}