/*HTML GALERIA*/

.section__galeria {
    min-height: 70vh;
    display: flex;
    flex-direction: column;


    .galeria__descripcion {
        padding: 20px;
    }
}



.tituloGaleria h2 {
    margin-top: 100px;
    margin-bottom: 20px;
}

.galeriaDestinos img {
    width: 100%;
}

.flexPadre {
    display: flex;
    padding: 40px;
    padding-top: 25px;
    flex-wrap: wrap;
}

.flexHijo {
    flex: 25%;
    padding: 5px;
}

.flexHijo img {
    margin-bottom: 5px;
}
