/*ARCHIVO INDEX*/

.main__index {

    .main__info {

        .main__box {
            letter-spacing: .17px;
            max-height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .main__texto {
                margin-left: 20px;
            }

            h2 {
                font-size: 2.5em;
            }

            p {
                color: #292f36;
                font-size: 1.2em;
            }

            .main__animacion {
                width: 45%;
            }


            #tituloUno {
                color: #30d19b;
            }
            
            #tituloDos {
                color: #009894;
            }
            
            #tituloTres {
                color: #00aacd;
            }
            
            #tituloCuatro {
                color: #005da1;
            }
        }
    }
}
