/*HTML NOTICIAS*/

.noticias__section {
    
    height: 120vh;

    .noticias__titulo {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .noticias__notaTitulo {
        font-size: 1.5rem;
    }
}