/*HTML NOTICIAS*/

.noticias__section {
    min-height: 100vh;

    a {
        text-decoration: none;
        color: black;
    }

    .noticias__img:hover {
        filter: grayscale(100%);
        transition: 1s;
        
    }
}

/*-----------------------------*/

